#app {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#output {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #fafafa;
  color: rgb(48, 48, 90);
  font-size: large;
}
button {
  padding: 15px;
}
